<div class="card mt-4">
    <h4 class="card-header">Admin</h4>
    <div class="card-body">
        <mat-card class="example-card">
            <p class="mb-1">All users from secure (admin only) api end point:</p>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <mat-list role="list" *ngIf="users">
            <mat-list-item role="listitem" *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</mat-list-item>
          </mat-list>
        </mat-card>
        
    </div>
</div>